<div class="cotainer-fluid">
    <div class="row no-gutters mb-3">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0">
            <input type="text" class="form-control w-50" placeholder="Search products" [formControl]="searchProduct">
        </div>
    </div>
    <div class="row no-gutters">
        <div class="card me-3 col-sm-4 p-0" *ngFor="let product of productList">
            <img class="card-img-top" [src]="product.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text text-secondary">{{product.description}}</p>
                <p>
                    <em><h4 class="text-success">${{product.price}}</h4></em>
                </p>
                <button type="button" class="btn btn-primary btn-sm me-2"
                    (click)="updateProduct(product)">Update</button>
                <button type="button" class="btn btn-danger btn-sm"
                    (click)="deleteProduct(product.id)">Delete</button>
            </div>
        </div>
    </div>
    <div class="row no-gutters mt-3">
        <div class="col-lg-12 d-flex justify-content-end">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="productSize"
                (pageChange)="getNextPageProduct()"></ngb-pagination>
        </div>
    </div>
</div>